# .NET
**/bin/
**/obj/
*.user
*.suo

# Rider
.idea/

# Angular / Node
**/node_modules/
**/dist/
**/.angular/

# macOS
.DS_Store

# Configuration locale et secrets
appsettings.Development.json
.env
.env.*